<!DOCTYPE html>
<html>
<head>
  <title>Employee Detail</title>
</head>
<body>
  <h1>Employee Detail</h1>
  <ul>
    <li>Employee ID: <%= employee.employeeId %></li>
    <li>Name: <%= employee.name %></li>
    <li>Department: <%= employee.department %></li>
    <li>Position: <%= employee.position %></li>
    <li>Salary: <%= employee.salary %></li>
    <li>Phone Number: <%= employee.phoneNumber %></li>
  </ul>
  <form method="POST" action="/employees/<%= employee._id %>/update">
    <h2>Update Employee</h2>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= employee.name %>" required><br><br>
    <label for="department">Department:</label>
    <input type="text" id="department" name="department" value="<%= employee.department %>" required><br><br>
    <label for="position">Position:</label>
    <input type="text" id="position" name="position" value="<%= employee.position %>" required><br><br>
    <label for="salary">Salary:</label>
    <input type="text" id="salary" name="salary" value="<%= employee.salary %>" required><br><br>
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" value="<%= employee.phoneNumber %>" required><br><br>
    <button type="submit">Update</button>
  </form>
  <form method="POST" action="/employees/<%= employee._id %>/delete">
    <button type="submit">Delete</button>
  </form>
</body>
</html>
